*
{
	font-family:arial;
	text-align:center;
}
body
{
	top:50%;
	left:50%;
	position: absolute;
	transform: translate(-50%,-50%);
	background-image: -webkit-linear-gradient(left, #d6d6d4 0, #bec0c6 50%, #a6abb8 100%);
    -webkit-background-color: text;
    -webkit-background-fill-color: #0000;
    background-clip: background; 
}
.ub1
{
text-align:left;
font-weight: bold;

margin-bottom:0.5em;
margin-top:0.5em;
}
.caja1
{
	width:20em;
    height: auto;
    position: relative;
    margin: auto;
    padding: 2em;
	border-radius: 1em;
	color:white;
	background-image: -webkit-linear-gradient(left, #4e4c7f 0, #283069 50%, #001754 100%);
    -webkit-background-color: text;
    -webkit-background-fill-color: #0000;
    background-clip: background; 

}
input, select
{
	width: 100%;
    padding: 0.5em;
	font-size:1em;
	border-radius:5px;
	border:1px solid black;
	color:black;
	text-align:left;
	
}
input[type=submit],input[type=reset], [type=button]
{
margin-top: 1.5em;
width:48%;
text-align:center;
color: black;
background-image: -webkit-linear-gradient(left, #ffff51 0, #ffea00 50%, #dccb00 100%);
}
input[type=checkbox]
{
margin-left:0;
width:10%;

}

table
{
	width:50em;
	margin:0;
	border-collapse:collapse;
	border: 0.1em solid black;
	background: #2CA0DF;
	top:50%;
	left:50%;
	position: absolute;
	transform: translate(-50%,-50%);
}

td
{
	padding:1em 2em;
	border: 0.1em solid black;
	text-align: center;
	background: white;
	font-weight: bold;
}

th
{
	padding:1em;
	border: 0.1em solid black;
	background-image: -webkit-linear-gradient(left, #9545a0 0, #773a8d 25%, #5a2e78 50%, #3e2262 75%, #26174e 100%);
    -webkit-background-color: text;
    -webkit-background-fill-color: #0000;
    background-clip: background;
	color: white;
}
a
{
	font-size: 1em;
	text-align:center;
	display: inline-block;
	background-image: -webkit-linear-gradient(left, #bcffff 0, #acfff9 25%, #9afff2 50%, #87f5eb 75%, #75ece5 100%);
    -webkit-background-color: text;
    -webkit-background-fill-color: yellow;
    background-clip: background;
	padding: 0.5em 0.5em;
	border-radius:0.2em;
	text-decoration: none;
	border:0.1em solid black;
	cursor:pointer;
	color: black;
	
}

.formtlo
{
	font-size:2em;
	font-weight: bold;
	padding-bottom:0.8em;
	color:white;
}

@keyframes slidebg {
	to {
	  background-position:20vw;
	}
  }
  
  @keyframes animatedBackground_a {
	  0% { background-position: 0 0 }
	  100% { background-position: -500px 0 }
  }